<header class="main-title-container">
        <div class = "nav-container">
            <h1 class = "main-title">
                <nav id="nav" class="nav">
                    <div class = "site-title">
                        {{ .Site.Title }}
                    </div>
                    <div class = "nav-buttons">

                        {{ range .Site.Menus.main }}
                        <a  href="{{ .URL }}">
                            {{ if .Pre }}
                            {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                            {{ $icon }}
                            {{ end }}
                            {{ $text := print .Name | safeHTML }}
                            {{ $text }}
                        </a>
                        {{ end }}
                    </div>
                </nav>
            </h1>
        </div>

        <div class = "bio-content">
            <img class = "avatar" alt="avatar" src="{{ "/images/avatar.png" | relURL }}" />
            <div class = "bio">
                {{ with .Site.Params.Bio }}
                 {{ . | markdownify }} 
                {{ end }}
            </div>
           
        </div>
       
</header>