  
.main-title-container{
    display: grid;
    grid-template-rows: 20% 80%;
    /* background-color: pink; */
    margin: 7%;
    max-height: 1fr;
    justify-content: center;
    align-items: center;
    font-family: 'EB Garamond', serif;;
}

.nav-container{
    display: flex;
    flex-direction: column;
    /* background-color: lightcoral; */
    justify-content: center;
}

.title-name{
    /* background-color: blue; */

}

.site-title{
    display: grid;
    /* background-color: blueviolet; */
    align-items: center;
    justify-items: end;
    margin-right: 5%;

}

.nav{
    /* background-color: green; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

/* dispaly for the nav buttons (about, research) */
.nav-buttons{
    display: flex;
    flex-direction: row;
    /* background-color: bisque; */
    align-items: center;

}

.bio-content{
    margin: 1%;
    /* background-color: lightcyan; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
}

.avatar{
    margin: 1%;
    padding: 3px;
    /* background-color: darkred; */
    height: 300px;
    margin-right: 5%;
}

.bio{
    /* background-color: aquamarine; */
    font-size: 1.25em;
    margin: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif

}

.nav a{
    text-decoration: none;
    color: black;
    margin-right: 5%;
}

a:hover {
    text-decoration: underline;
  }